<% layout("/layouts/boilerplate")%>
<body>
    
    <form method="GET" action="/listings/new">
        <button>Add New Listing</button>
    </form>
   
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1">
 <%  for(let listing of allListing){ %>
    <a href="/listings/<%=listing.id%>" class="listing-link" >
        <div class="card" >

  <img src="<%= listing.image.url %>"
   class="card-img-top" 
   alt="listing_image" 
   style="height: 16rem"/>

    <div class="card-img-overlay">
        
    </div>

  <div class="card-body">
    <p class="card-text">
     <b>   <%=listing.title%><br></b>
        <%=listing.price.toLocaleString("en-IN")%> /night
        
    </p>
  </div>
</div>
<%    }  %>
</div>
</body>
