<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New listing</title>
</head>
<body>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="Enter Title" type="text" />
        <br>
        <textarea name="listing[description]" placeholder="Enter Description" type="text" ></textarea><br>
        <input name="listing[image]" placeholder="Enter Image URL Link" type="text" /><br>
        <input name="listing[price]" placeholder="Enter Price" type="text" /><br>
        <input name="listing[country]" placeholder="Enter Country" type="text" /><br>
        <input name="listing[location]" placeholder="Enter Location" type="text" /><br>
        <button>Add Listing</button>
    </form>
</body>
</html>