body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing:auto;
  font-weight: 1rem;
  font-style:normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height:5 rem;
    background-color: white;
    
}

.fa-house{
    color:red;
    font-size: 2rem;
    
}
.nav-link{
    color: black !important;
}

.f-info-links a{
    text-decoration: none;
    color: black;
    width: 10%;
}
.f-info-socials,.f-info-links,.f-info-brand{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.f-info-socials i{
    font-size: 1.2 rem;
    margin-right: 1 rem;
}
.f-info-links:hover{
    text-decoration: underline;

}
.f-info{
    text-align: center;
    height: 8 rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.card{
    border:none !important;
   

}
 .card-img-top{
        border-radius: 1rem !important;
        width: 100% !important;
        object-fit: cover !important;

    }
    .card-text p{
        font-weight: 400;
    }
.listing-link{
        text-decoration: none;
    }
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.row{
    margin-top: 3rem;
}
.add-btn{
    background-color: red !important;
    border: none !important;
}